.navbar-large {
    background-color: #1FA181;
    min-height: 43px;
    
    &__list {
        list-style: none;
        display: flex;
        justify-content:flex-start;
        align-items: center;
        padding: 0;
    }

    &__link {
        text-decoration: none;
        font-family: $font-normal;
        font-size: 16px;
        line-height: 1.5;

        &:visited {
            text-decoration: none;
            color: #FFFFFF;
        }

        &:hover {
            text-decoration: none;
            opacity: .8;
        }
    }
}