.container {
    padding: 0 18px 0 17px;
    
    @media (min-width: $screen-medium) {
       
    }

    @media (min-width: $screen-lg) {
        padding: 0 50px 0 50px;
        max-width: 1140px;
        margin: 0 auto;
    }

    @media (min-width: $screen-extra-lg) {
       padding: 0;
       max-width: 1140px;
       margin: 0 auto;
    }


    
}