.container {
    padding: 0 18px 0 17px;
    
    @media (min-width: $screen-medium) {
        padding: 0 50px 0 50px;
    }

    @media (min-width: $screen-lg) {
        padding: 0 100px 0 100px;
    }

    @media (min-width: $screen-extra-lg) {
        padding: 0 390px 0 390px;
    }


    
}