
$font-bold: 'PT Sans Caption Bold', Arial, Helvetica, sans-serif;
$font-normal: 'PT Sans Caption', Arial, Helvetica, sans-serif;
$text-color-main: #364844;
$color-mobile-background-header:#F6F6F6;
$screen-medium: 641px;
$screen-lg: 1008px;
$screen-extra-lg: 1366px;
$screen-big: 1920px;