.popup {
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    visibility: hidden;
    opacity: 0;
    transition: background-color 1s ease-out, opacity .5s linear;
    height: 0;
}

.popup_opened {
    display: flex;
    visibility:visible;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    opacity: 1;
    background-color:rgba(69, 146, 127, 0.9);
    z-index: 10;
  }
  
  .popup_opened .popup__container_type_form {
    display: flex;
  }
  
.popup__close {
    position: absolute;
    right: -38px;
    top: -40px;
    -webkit-appearance: none;
    -moz-appearance: none;
         appearance: none;
    border: 0;
    border-radius:0;
    background-image: url(images/close-menu.png);
    background-position: center;
    background-size: contain;
    background-color: transparent;
    background-repeat: no-repeat;
    padding: 0;
    width: 32px;
    height: 32px;
    justify-self: end;
    font-size: 0;
  }
  
  .popup__close:hover {
    opacity: .6;
    cursor: pointer;
  }
  
  @media screen and (max-width: 500px) {
    .popup__close {
      right: 0;
      top: -36px;
      width: 20px;
      height: 20px;
    }
  }